# Webscrapping - 2 (Selenium)

In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91977\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\91977\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver

from time import sleep
import time

In [9]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

_______________________________________________________

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [11]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
url = 'https://www.naukri.com'
driver.get(url)

In [13]:
#enter data analyst in the job search section

search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys('Data Analyst')

In [14]:
#enter Bangalore in the city name section 

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [15]:
#click on the search button

search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

pop_up = driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]')
pop_up.click()

In [16]:
#find job title

job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="aae12c84-ab14-46e6-a57e-8bacfd22da76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="1971b772-931b-45b8-99f3-9dd536672091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="bff69a12-b9ea-439c-9f2f-ad8f0a625f2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="7bb80043-0327-4a07-b797-72d6a04fb5fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="2985af9a-8c73-4669-a7cb-eef287aed5ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3ae283df-a33d-48c2-b261-f05d06414cb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="04f2251c-1712-4c5d-89aa-641bcfd45ac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="0694ded2-380f-4efd-90f0-513b07e06d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4b8a6c7f-ba13-4490-8c3a-7f209286584d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="286ea8ed-34f2-43fe-bbf2-c4394c63afde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="34afeb9d-e2c8-4450-90ae-445db65e459d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="136f72e1-7427-454f-a1f0-34a63af159a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="7954b698-959f-4ce8-bc63-fd9b996bd72d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="d47f3be3-81f5-46d0-8356-a901d113ec45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="721923a4-db28-40a5-9c35-541694e72c58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="046b675b-e61e-4148-b85b-f417d9fef652")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="8af79181-86fa-4fc9-81f7-a9622eb1c19e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="a7eb26a6-6036-4008-8152-3b13f459b001")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="6b60b91e-1511-4f82-b96e-89ff952b42f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="36c2c67a-e585-4502-972b-9843a35da8fd")>]

In [17]:
#select job title

Job_Post = []
for i in job_title:
    Job_Post.append(i.text)
Job_Post

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Analyst',
 'Junior Data Analyst',
 'Network Design & Data Analyst',
 'Market Data Analyst',
 'Data analysts',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst',
 'Market Data Business Analyst,',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Software Developer / Web Developer/data analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst – Financial, Healthcare, Sports Betting']

In [18]:
#find job locations
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
loc

[<selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="1e4c594f-8415-437f-9402-0ed127d7ab37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4f5c2c51-527e-4370-954d-8b7da0ce3395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="296929c4-4226-4330-acaf-fa51d3426433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="bd1a1b51-9056-4d5f-9c9a-fd68d43b2abc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4dac2b85-1349-42ce-a1f4-564ac7e07de1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="905c9871-27a4-47c9-ae9d-0c5e2a8845d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="72910b4b-d45b-463d-8e22-cf38e1586273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="28936659-fd2d-4302-b3f9-2fc9433aea5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="0d919062-6a1b-47e8-9568-fb0933a5f52d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="1b47c8f0-337e-4df9-83e5-10faf3428c04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="da11c57b-62da-49d6-9c34-6f9ce684d88b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="22d4272f-55d6-4fb1-b94f-5d199b0068dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="03f838cf-4a11-4607-81cd-4f346b39d491")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="932bb1c0-d5f2-438a-8ded-4cc13e6706e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="03b2fbf2-9288-4f4b-aa3c-9ce7e99d9913")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3e7dbd05-fd9b-402d-a547-f37d426f5645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="bb80d014-e5f8-482c-97e5-e064965c61bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="eb3baaa9-e59b-44e3-a9fe-750151284e77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="d44e47f4-7780-45fb-a553-a528b3937b35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="a5316976-6542-46a2-8a14-eb933d65fb68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="7099a4d3-b294-435e-950f-ee60d7cf0e97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="ba984a74-7ab2-451d-aec1-ee1987edc36a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3a7edeb8-a2af-4bb8-8eb4-c7d2c572616e")>]

In [19]:
#select job location and arrange them in list

Job_Location = []

for i in loc:
    Job_Location.append(i.text)
Job_Location

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Madurai, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Lucknow, Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Pune, Chennai, Bangalore/Bengaluru']

In [20]:
#find Company name 
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company

[<selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="f5ab546e-9b8b-4124-8962-cc2a40c3bbad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4f36e98a-d30a-4826-925b-c5d31841bc42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="96cdde03-9c80-41d4-8991-d7ba34fc88db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3f53754d-1dc7-4bd6-a6b0-86e4f28bc2e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="2cb86e77-dd08-4dd9-9c5d-f04b3a338f16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="f241551c-306e-4dbb-9fe3-7d80f1f8f486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="b4ea8ee6-9420-47eb-a2d1-91314c4b0b4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="c543f040-8ebb-4a49-95b7-518791dc18e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="94fe13e8-e04b-4a66-9b6d-9b7f7abe1502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="e029211f-f258-4af5-a03d-166d27a75f3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="673ac3e4-4694-4eb3-885e-50609063470d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="2d9dbea1-070e-43ee-8eaa-37a37157e0f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="8219dfa8-6187-46b6-b80d-a7e22825c4f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="1512bcf5-0683-4a41-8793-730b5ef8ecca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="849b9e0a-90ee-409a-9fae-5cbdc13b0303")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="bf393e09-1abd-4306-aa04-97ec38ca8c0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="c096244f-beac-4e76-a071-85598060fd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="8bfb66c9-1075-47e6-aa30-3f9b0c2be5b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4213a39e-7aad-4047-86e3-3d2be1af6ce4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="c663ae83-c2d0-4434-8a64-c58ab98fc560")>]

In [21]:
#select Company name and arrange them in list
Company_Name = []

for i in company:
    Company_Name.append(i.text)
Company_Name

['Inflexion Analytix Private Limited',
 'Simplilearn',
 'Simplilearn',
 'Dell International Services India Private Limited',
 'Gervitech Technologies',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Flipkart Internet Private Limited',
 'Uber',
 'INTERTRUST GROUP',
 'Infoservicesllc',
 'Clarivate Analytics',
 'Luxoft',
 'Mind Circus Innovation',
 'Edubridgeindia',
 'Siemens Limited',
 'Liventus, Inc.',
 'Quantsys']

In [22]:
#find year of experience required

experience = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
experience

[<selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="e0a6a3dc-cd28-42e9-afee-a20ddfddd73e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="90983989-8134-4b8c-b7a3-6a65706a35a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="5aabb8c7-3437-4be0-ae55-80f5dac677e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="0a0f19bd-dad5-4d7a-946e-9f6a31ef1d21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="65a047b8-b95b-408b-ab4a-959007dfd23a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="8c70ff3d-e646-418b-b399-8e49913a4600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="d2915e0e-97a8-4a1d-b36a-e6469cd3ce3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="257bc3be-1bf2-40b2-8b7a-4b00fb188688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3830b7dd-82a4-417f-a136-72b0091043f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="b857089a-aacb-4696-b040-f48fb3e24a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="d439bd28-1031-4883-abb9-c5a1f718555e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="3388ec9c-c4ad-4610-8f22-03216dd781e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="905cec30-535f-49b0-b078-593e38390ce1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="ab41e400-6b14-4430-adf7-09a71e441f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="53da1b46-d4e8-425d-99b5-5778a32e5602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="322a1d49-3f7f-4831-a342-c149d62fdad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="9dc5cf4d-c324-4ee1-8232-c8fb05946680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="bc769351-3da1-43da-9c4a-896b80b65488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="4e59446e-70f2-42d6-8bce-4c1a060de6a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48a79a3c003c9f510212458baf3dfc29", element="0b0f47e5-8124-4f18-8372-49e10cbf9aaf")>]

In [23]:
#select year of experience required and arrange in list

Experience_Required = []
for i in experience:
    Experience_Required.append(i.text)
Experience_Required

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '1-2 Yrs',
 '2-6 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs']

In [24]:
#creating datframe to store first 10 job list

Data_Analyst_Jobs = pd.DataFrame()

Data_Analyst_Jobs['Job_Post'] = Job_Post[:10]
Data_Analyst_Jobs['Job_Location'] = Job_Location[:10]
Data_Analyst_Jobs['Company_Name'] = Company_Name[:10]
Data_Analyst_Jobs['Experience_Required'] = Experience_Required[:10]

Data_Analyst_Jobs

,Job_Post,Job_Location,Company_Name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
2,Junior Data Analyst,(WFH during Covid),Simplilearn,0-2 Yrs
3,Network Design & Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Dell International Services India Private Limited,0-2 Yrs
4,Market Data Analyst,(WFH during Covid),Gervitech Technologies,0-5 Yrs
5,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
6,Data Analyst,"Madurai, Kolkata, Hyderabad/Secunderabad, Ahme...",CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs
7,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
8,Assistant Vice President - MIS & Reporting ( B...,"Lucknow, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
9,Data Analyst,(WFH during Covid),Flipkart Internet Private Limited,3-5 Yrs

__________________________________________________________________________

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [407]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [408]:
url1 = 'https://www.naukri.com/'
driver.get(url1)

In [409]:
#Enter keywords in job and location and click search

search_job1 = driver.find_element_by_id('qsb-keyword-sugg')
search_job1.send_keys('Data Scientist')
search_loc1 = driver.find_element_by_id('qsb-location-sugg')
search_loc1.send_keys('Bangalore')
search_btn1 = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn1.click()
time.sleep(5)

In [417]:
job_title1 = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

Job_Post1 = []
for i in job_title1:
    Job_Post1.append(i.text)
Job_Post1

['Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist',
 'EXL - Senior Data Scientist, 5+ yrs, Mumbai / PUNE / BLR / Chennai',
 'Data Scientist',
 'Senior Data Scientist/ Tech Lead - SQL/ Python/ Big Data',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist 2',
 'Data Scientist 2',
 'Data Scientist',
 'Hiring Data Scientist',
 'DHS _ Hiring For Data Scientist - India',
 'Data Scientist: Artificial Intelligence']

In [411]:
loc1 = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')

Job_Location1 = []
for i in loc1:
    Job_Location1.append(i.text)
Job_Location1

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th block Koramangala)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [412]:
company1 = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

Company_Name1 = []
for i in company1:
    Company_Name1.append(i.text)
Company_Name1

['Flipkart Internet Private Limited',
 'bd',
 'Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'EXL Service',
 'Applied Materials',
 'Exploro Solutions',
 'Center for Study of Science, Technology and Policy',
 'Oracle India Pvt. Ltd.',
 'NatWest Markets',
 'Vision Beyond Resources India Private Limited',
 'Gojek Tech',
 'GO-JEK India',
 'Blue Ocean Catalyst Private Limited',
 'IHX private limited',
 'DeliverHealth Solutions',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [413]:
#Extract each job opening main description page and saving them in list by using for loop

job_openings_urls = []

urls = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in urls:
    job_openings_urls.append(i.get_attribute('href'))
job_openings_urls

['https://www.naukri.com/job-listings-senior-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-5-to-10-years-090721908235?src=jobsearchDesk&sid=16259435212586229&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-090721501722?src=jobsearchDesk&sid=16259435212586229&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16259435212586229&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721906161?src=jobsearchDesk&sid=16259435212586229&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=16259435212586229&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=16259435212586229&xp=6&px=1',
 'https://www.naukri.com/job-listings-exl-senior-data-scientist-5-yrs-mumbai-pune-blr-chennai-exl-service-pune-chennai-bangalore-bengaluru-delhi-ncr-5-to-10-years-080721005255?src=jobsearchDesk&sid=16259435212586229&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-5-to-10-years-090721902434?src=jobsearchDesk&sid=16259435212586229&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-tech-lead-sql-python-big-data-exploro-solutions-pune-chennai-bangalore-bengaluru-5-to-10-years-080721908426?src=jobsearchDesk&sid=16259435212586229&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-center-for-study-of-science-technology-and-policy-bangalore-bengaluru-2-to-4-years-080721501346?src=jobsearchDesk&sid=16259435212586229&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16259435212586229&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-natwest-markets-bangalore-bengaluru-3-to-6-years-090721501813?src=jobsearchDesk&sid=16259435212586229&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-vision-beyond-resources-india-private-limited-bangalore-bengaluru-mumbai-all-areas-10-to-19-years-080721006482?src=jobsearchDesk&sid=16259435212586229&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-gojek-tech-bangalore-bengaluru-4-to-8-years-090721501896?src=jobsearchDesk&sid=16259435212586229&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-go-jek-india-bangalore-bengaluru-6-to-11-years-090721501884?src=jobsearchDesk&sid=16259435212586229&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-blue-ocean-catalyst-private-limited-bangalore-bengaluru-2-to-6-years-080721500490?src=jobsearchDesk&sid=16259435212586229&xp=16&px=1',
 'https://www.naukri.com/job-listings-hiring-data-scientist-ihx-private-limited-bangalore-bengaluru-4-to-6-years-090721002695?src=jobsearchDesk&sid=16259435212586229&xp=17&px=1',
 'https://www.naukri.com/job-listings-dhs-hiring-for-data-scientist-india-deliverhealth-solutions-bangalore-bengaluru-1-to-6-years-080721003439?src=jobsearchDesk&sid=16259435212586229&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-artificial-intelligence-ibm-india-pvt-limited-bangalore-bengaluru-4-to-8-years-080721906686?src=jobsearchDesk&sid=16259435212586229&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-10-years-090721905332?src=jobsearchDesk&sid=16259435212586229&xp=20&px=1']

In [414]:
Job_Description1 = []

for i in job_openings_urls:
    driver.get(i)
    desc1 = driver.find_elements_by_xpath('//section[@class="job-desc"]')
    for j in desc1:
        Job_Description1.append(j.text.replace('\n','').replace('Job description',''))
Job_Description1

['About the roleA Senior Data Scientist in Flipkart is required to drive research and development of various Machine Learning and Statistical modules, keeping business goals and product planning at the front. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams. The crux of the work is defined by developing innovative problem statements as well as end to end implementation of state of the art ML and statistical algorithms. The candidate is additionally expected to work proactively with a team of junior Data Scientists and guide them in various research projects with a view to publish their findings.What you’ll doUnderstand Business and product needs and use advanced modeling techniques to provide solutions to those in a time bound fashion.Develop research and hypothesis on problem statements around on-going work to provide additional value to the organisation.Keep the team updated on current trends in the area of ML and Statistics, thereby ensuring that state of the art solutions are provided for the business problems.Regular collaboration with various stakeholders from business or product to better understand the vision and gain insights which is to be leveraged for providing better solutions.What you’ll need:B.Tech in CS or Statistics with demonstrable experience of over 8 years through publications/deployed solutions/projects.M.Tech or PhD in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.A deep understanding of applied statistical analysis and predictive modeling is desired.The candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis etc. It is not expected that the candidate has actually worked on all these modules.Strong proficiency in Python or R is necessaryRoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.A in Statistics, B.Sc in Statistics, B.Tech/B.E. in ComputersPG :MS/M.Sc(Science) in Statistics, M.A in Statistics, M.Tech in ComputersDoctorate :Ph.D/Doctorate in Statistics, ComputersKey SkillsData ScienceRSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython',
 'Evaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regionsCollecting, interpreting, preparing and modelling data to provide actionable insightsPrototyping advanced data analytics solutions for presentation to business partners and stakeholdersApplying predictive analytics and machine learning methods and techniques appropriately to address business requirementsProvide expertise to guide business stakeholders in identifying opportunities for the use of BD s data assets for the purpose of advanced data analyticsWork closely with data engineering and DataOps peers to productionalize advanced data analytics use casesQualificationsMaster s degree in STEM field or equivalent demonstrated work experienceExperience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, )Minimum 2 years of relevant work experienceAbility to translate complex solutions to a non-technical audience (storytelling visualization)Expertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniquesMature competency for critical thinking, problem solving, working with ambiguity, communications and collaborationPreferredExperience with technologies related to data preparation, processing optimization (e.g. Azure, HQL, SPARK SQL)Experience with data visualization tools (Power BI)Flexibility to accommodate meetings with international stakeholders in their respective time-zoneRoleAssociate/Senior Associate -(NonTechnical)Industry TypeMedical Services / HospitalFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any GraduatePG :Post Graduation Not RequiredKey Skillsadvanced analyticsNeural networksMachine learningHealthcareGeneticsData analyticsdata visualizationPredictive analyticsSQLBusiness operations',
 "Job Role: Data Scientist/Data Analyst /Business AnalystLocation: Chennai/Bangalore/HyderabadGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.Call to schedule interview Monday -Saturday from 10:00 am to 7 PmKoodesh B- +91 73395 11107Manigandan B - +91 93444 57360Email :careerguidance.koodes@centerforaia.commanigandan@centerforaia.comWhat is needed from you?Freshers who wish to start their career in Analytics and AI and professionals who wish toupskill or change their domain to analytics and emerging technologies are free to apply.Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCASkills relating to Mathematics/Statistics.Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualizationGood verbal and written communication skillsAbility to understand domains in businesses across various sectorsSelection procedure includesAptitude Test & Communication Exam - Online / OfflineSQL/Python test - Online / OfflineCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.All the Shortlisted candidates will be eligible to continue the corporate training with CAIAWhat you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:SQL & PLSQLData Wrangling using PythonData Visualization Using Power-BIStatistics for Machine LearningArtificial Intelligence, Data InterpretationSupervised & Unsupervised Learning,NLP & Deep LearningCloud Data LakeBusiness intelligence & Data VisualizationSimulation ProjectsExpected Outcome?At the end of the Training you are expected to be well versed with the following:Analysis of large and complex data sets from multiple sourcesDevelopment and evaluation of data analytics models, algorithms, and solutionsUnderstanding/implementation of ML algorithms, performance tuning, and reportingImplementation of algorithms to mine targeted data and the ability to convert data into a business storyTranslation of business requirements into technical requirements; Data extraction, preparation, and transformationIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organizationRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersFinding analytical solutions to abstract business issues.Apply objective analysis of facts before coming to a conclusionRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :BCA in Any Specialization, B.Sc in Any Specialization, Any Graduate, B.B.A/ B.M.S in Any Specialization, B.Tech/B.E. in Any Specialization, B.Com in Any SpecializationKey SkillsBusiness IntelligencePower BiData WranglingArtificial IntelligenceBig DataITMachine LearningStatisticsAnalyticsDeep LearningBusiness AnalysisSQLData ScienceNLPCloud ComputingData AnalysisData VisualizationData WarehousingData AnalyticsETLPython",
 'Minimum Qualifications: (Specify if degree required & type, number of years of prior experience, certifications, etc.)Post Graduate or MBA (preferred) OR Graduates in Engineering / Mathematics / Operations Research / Science / StatisticsWith atleast 5+ years experience in analytics using SQL,SAS, R or Python, basic statistical concepts and analyzing data & interpreting results to the businessProficient in data wrangling using SQL and libraries of R,Python such as Dplyr/Pandas, Pyspark etcProficient in basic statistical concepts and analyzing data & interpreting results to the businessApplied Machine learning experience or experience in text mining, imaging mining, screen scraping and other big data techniques will be a plusResponsibilities and Essential Functions:Analytics Practice within SCIO:Ability to design data driven solutions and Frameworks (Descriptive and Predictive) from scratch & consult in a leadership capacity on potential Solutions/Storyboards and POCsDrives business metrics that add to the top-line and / or profitability for SCIOs revenue optimization businessPerform quantitative and qualitative analysis like (raw) data analysis, statistical modeling, data deep-dives etc. to acquire insights from dataDevelops Descriptive (reporting) through to Prescriptive AnalyticsTranslates insights into an analysis reports and communicate insights back to the stakeholdersApplies next-gen technology to all parts of the analytics lifecycle from data extraction, exploratory data analysis, predictive modeling, Data Mining and information extraction from unstructured data to visualization & story boardingSpecial Skills and Qualifications:This role would suit candidates with the following attributes:Flexibility to work with different countries (time-zones), groups, and business environmentShould be versatile and ready to learn and apply new technologies, techniques in data scienceAbility to break down a vague business problem into structured data analysis approachesAbility to work with incomplete information and take judgment-driven decisions based on experienceShould have good organizational and people skillsShould have good communication able to collaborate with onshore stakeholdersStrong aptitude to learn/understand health care data / databasesRoleAnalytics ManagerIndustry TypeAnalytics / KPO / ResearchFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/B.E. in Any SpecializationPG :MS/M.Sc(Science) in Any Specialization, M.Tech in Any Specialization, MBA/PGDM in Any SpecializationKey SkillsDats ScientistMachine LearningPythonData ScienceRNLPSQLSkills highlighted with ‘‘ are preferred keyskills',
 'Responsibilities :- Lead a team of data scientists, machine learning engineers and big data specialists- Be the main point of contact for the customers- Lead data mining and collection procedures- Ensure data quality and integrity- Interpret and analyze data problems- Conceive, plan and prioritize data projects- Build analytic systems and predictive models- Test performance of data-driven products- Visualize data and create reports- Experiment with new models and techniques- Align data projects with organizational goalsRequirements (please read carefully) :- Very strong in statistics fundamentals. Not all data is Big Data. The candidate should be able to derive statistical insights from very few data points if required, using traditional statistical methods.- Education - no bar, but preferably from a Statistics academic background (eg MSc-Stats, MSc-Econometrics, etc), given the first point- Strong expertise in Python (any other statistical languages/tools like R, SAS, SPSS, etc are just optional, but Python is absolutely essential). If the person is very strong in Python, but has almost nil knowledge in the other statistical tools, he/she will still be considered a good candidate for this role.- Proven experience as a Data Scientist or similar role, for about 7-8 years- Solid understanding of machine learning and AI concepts, especially wrt choice of apt candidate algorithms for a use case, and model evaluation.- Good expertise in writing SQL queries (should not be dependent upon anyone else for pulling in data, joining them, data wrangling etc)- Knowledge of data management and visualization techniques --- more from a Data Science perspective.- Should be able to grasp business problems, ask the right questions to better understand the problem breadthwise /depthwise, design apt solutions, and explain that to the business stakeholders.- Again, the last point above is extremely important --- should be able to identify solutions that can be explained to stakeholders, and furthermore, be able to present them in simple, direct language.RoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Statistics, B.A in StatisticsPG :MS/M.Sc(Science) in StatisticsDoctorate :Doctorate Not RequiredKey SkillsData ScienceSASData ScientistArtificial IntelligenceData ManagementBig DataData VisualizationMachine LearningPythonSQL',
 'Data Scientist-AI and Digital Lab (2-4 Years)Role OverviewTechnical leadership of data science and AI/ML projects in the AI and Digital Lab.ResponsibilitiesAnalyse domain data (defence supply chain, healthcare etc.) and present findings.Design data analytics pipelines and apply best practices throughout the lifecycle.Identify and apply relevant advanced analytics and AI/ML techniques to areas such as demand prediction, inventory optimisation, etc.Explore and identify the right algorithms and models based on experience and latest research.Qualifications and ExperienceB.Tech or M.Tech degree2 to 4 years of project experience in developing statistical, advanced analytics, and AI/ML algorithms and models, and analysing large, complex data sets.Exposure to the full lifecycle of machine-learning model development activities, including data engineering, feature development, validation, implementation/assessment, transitioning to a production environment, and performance maintenance.Skill SetDeep knowledge of data science concepts and techniques.Ability to apply advanced analytics and AI/ML concepts and techniques for structured data of any size.Exposure across the data science lifecycle -- from data exploration, visualisation, generating different hypothesis, model training, evaluating and tuning, to deployment.Hands-on experience in Python data science libraries, SQL, and Git.Desire and ability to research, learn, and apply new concepts and techniques to create an impact.Excellent communication skills.Knowledge of handling unstructured data using Computer Vision and NLP; exposure to healthcare, supply chain, and logistics domains; and exposure to Cloud platforms such as AWS, GCP, Azure, etc. would be a plus.RoleClinical Research Associate/ScientistIndustry TypeAnalytics / KPO / ResearchFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsSupply chainComputer visionadvanced analyticsdata scienceGCPMachine learningHealthcareSQLPythonLogistics',
 'Join us as a Data ScientistWe ll look to you to evaluate and improve the business processes and products using scientific rigour and statistical methodsThis is an opportunity to participate in the data scientist community to identify and deliver opportunities to support the bank s strategic direction through better use of dataGain valuable exposure and hone your expertise as you advance your career in this challenging roleWhat youll doAs a Data Scientist, you ll be supporting and collaborating with multi-disciplinary teams of data engineers and analysts on a wide range of business problems including the prevention of financial crime, understanding customer interactions with the bank and the management of credit risk.You ll also be:Identifying and working with data sets from across the bank s data estate to solve difficult, non-routine analysis problemsApplying advanced analytical methods as needed, typically as part of a team to support wider decision makingDeveloping your knowledge of data structures and metrics, advocating for changes where needed for product developmentProviding analysis that includes data gathering and requirements specification in collaboration with business stakeholdersThe skills youll needTo succeed in this role, you ll need extensive experience with statistical software, database languages, big data technologies and cloud environments, along with experience articulating and translating business questions and using statistical techniques. You ll also hold a degree in a quantitative discipline or equivalent practical experience in a data analysis related field.Additionally, you ll demonstrate:The ability to demonstrate self-direction and motivation and willingness to learn new techniquesEffective written and verbal communication skillsExperience working as part of a multidisciplinary teamExpertise with statistical data analysis such as linear models, multivariate analysis, stochastic models and sampling methodsExperience in deploying machine learning models into a production environmentRoleResearch ScientistIndustry TypeBankingFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, BiotechnologyEmployment TypeFull Time, PermanentRole CategoryR&DEducationUG :Any GraduatePG :Post Graduation Not RequiredKey SkillsBusiness StrategyRStatistical SoftwareData ScientistData StructuresCredit RiskData AnalysisBig Data TechnologiesMachine LearningAnalytics',
 'Roles and ResponsibilitiesIdentify valuable data sources and automate collection processesUndertake preprocessing of structured and unstructured dataAnalyze large amounts of information to discover trends and patternsBuild predictive models and machine-learning algorithmsCombine models through ensemble modelingDesired Candidate ProfileMust have 10+ years of experiencePH.D PreferredHands on Experience in AI ML PythonPerks and BenefitsRoleTechnical ArchitectIndustry TypeRecruitment / StaffingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any GraduateKey SkillsData SciencePredictive ModelingAlgorithmsSASArtificial IntelligenceEnsembledata scientistStatic DataMachine LearningDeep LearningPythonml',

In [415]:
Job_Description1[0]

'About the roleA Senior Data Scientist in Flipkart is required to drive research and development of various Machine Learning and Statistical modules, keeping business goals and product planning at the front. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams. The crux of the work is defined by developing innovative problem statements as well as end to end implementation of state of the art ML and statistical algorithms. The candidate is additionally expected to work proactively with a team of junior Data Scientists and guide them in various research projects with a view to publish their findings.What you’ll doUnderstand Business and product needs and use advanced modeling techniques to provide solutions to those in a time bound fashion.Develop research and hypothesis on problem statements around on-going work to provide additional value to the organisation.Keep the team updated on current trends in the area of ML and Statistics, thereby ensuring that state of the art solutions are provided for the business problems.Regular collaboration with various stakeholders from business or product to better understand the vision and gain insights which is to be leveraged for providing better solutions.What you’ll need:B.Tech in CS or Statistics with demonstrable experience of over 8 years through publications/deployed solutions/projects.M.Tech or PhD in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.A deep understanding of applied statistical analysis and predictive modeling is desired.The candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis etc. It is not expected that the candidate has actually worked on all these modules.Strong proficiency in Python or R is necessaryRoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.A in Statistics, B.Sc in Statistics, B.Tech/B.E. in ComputersPG :MS/M.Sc(Science) in Statistics, M.A in Statistics, M.Tech in ComputersDoctorate :Ph.D/Doctorate in Statistics, ComputersKey SkillsData ScienceRSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython'

In [418]:
Data_Scientist_Job_Results = pd.DataFrame()

Data_Scientist_Job_Results['Job_Post'] = Job_Post1[:10]
Data_Scientist_Job_Results['Job_Location'] = Job_Location1[:10]
Data_Scientist_Job_Results['Company_Name'] = Company_Name1[:10]
Data_Scientist_Job_Results['Job_Description'] = Job_Description1[:10]

Data_Scientist_Job_Results

,Job_Post,Job_Location,Company_Name,Job_Description
0,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,About the roleA Senior Data Scientist in Flipk...
1,Senior Data Scientist,Bangalore/Bengaluru,bd,Evaluating business requirements and developin...
2,Lead Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job Role: Data Scientist/Data Analyst /Busines...
3,Data Scientist / Data Analyst -Business Analyst,Bangalore/Bengaluru,IBM India Pvt. Limited,Minimum Qualifications: (Specify if degree req...
4,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,Responsibilities :- Lead a team of data scient...
5,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,Data Scientist-AI and Digital Lab (2-4 Years)R...
6,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",EXL Service,Join us as a Data ScientistWe ll look to you t...
7,"EXL - Senior Data Scientist, 5+ yrs, Mumbai / ...",Bangalore/Bengaluru,Applied Materials,Roles and ResponsibilitiesIdentify valuable da...
8,Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Exploro Solutions,About the Role They say no man is an island -...
9,Senior Data Scientist/ Tech Lead - SQL/ Python...,Bangalore/Bengaluru,"Center for Study of Science, Technology and Po...",About the Role They say no man is an island...

________________________________________________________________

### Q3.scrape data using the filters available on the webpage

In [419]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [420]:
url2 = 'https://www.naukri.com/'
driver.get(url2)

In [421]:
search_job2 = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job2.send_keys('Data Scientist')
search_btn2 = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn2.click()

In [422]:
#To click on checkbox to select Delhi/NCR in location filter
time.sleep(3)
loc_filter = driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]//span')
loc_filter.click()

In [427]:
time.sleep(3)
#To click on checkbox to select 3-6 lakhs in salary filter
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [428]:
job_title2 = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

Job_Post2 = []

for i in job_title2:
    Job_Post2.append(i.text)
Job_Post2 = Job_Post2[0:10]
Job_Post2

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist',
 'Team Leader Operations/Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist (Early Joiner)',
 'Advanced Analytics -Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H']

In [429]:
loc2 = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')

Job_Location2 = []

for i in loc2:
    Job_Location2.append(i.text)
Job_Location2 = Job_Location2[:10]
Job_Location2

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Greater Noida, Delhi / NCR',
 'Noida(Sector-59 Noida)',
 'New Delhi, Hyderabad/Secunderabad',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [430]:
company2 = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

Company_Name2 = []
for i in company2:
    Company_Name2.append(i.text)
Company_Name2 = Company_Name2[:10]
Company_Name2

['Inflexion Analytix Private Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Optimint Solutions Pvt. Ltd.',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'ERM Placement Services (P) Ltd.',
 'TalPro',
 'recruitment advisory line',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.']

In [431]:
experience2 = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
Experience_Required2 = []
for i in experience2:
    Experience_Required2.append(i.text)
Experience_Required2 = Experience_Required2[:10]
Experience_Required2

['0-3 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '0-0 Yrs',
 '4-8 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs']

In [432]:
Data_Scientist_Job_Results2 = pd.DataFrame()

Data_Scientist_Job_Results2['Job_Post'] = Job_Post2
Data_Scientist_Job_Results2['Job_Location'] = Job_Location2
Data_Scientist_Job_Results2['Company_Name'] = Company_Name2
Data_Scientist_Job_Results2['Required_Experience'] = Experience_Required2

Data_Scientist_Job_Results2

,Job_Post,Job_Location,Company_Name,Required_Experience
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
2,Team Leader Operations/Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Optimint Solutions Pvt. Ltd.,2-5 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
4,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
5,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
6,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
7,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",recruitment advisory line,3-6 Yrs
8,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
9,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs

_____________________________________________________________________________________

#### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [301]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [302]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [303]:
url4 = 'https://www.glassdoor.co.in/index.htm'
driver.get(url4)

In [308]:
time.sleep(5)

try:
    signin1 = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
    signin1.click()
except:
    signin2 = driver.find_element_by_xpath('//button[@class="d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton"]')
    signin2.click()

In [309]:
time.sleep(5)
signin_email = driver.find_element_by_id('userEmail')
signin_email.send_keys('poonamsingh1692@gmail.com')

In [310]:
time.sleep(3)
signin_pswd = driver.find_element_by_id('userPassword')
signin_pswd.send_keys('Pakhi*16')

In [315]:
search_job4 = driver.find_element_by_id('sc.keyword')
search_job4.send_keys("Data Scientist")

In [317]:
clr = driver.find_element_by_id("sc.location")
clr.send_keys(Keys.CONTROL,'a')

In [318]:
cut = driver.find_element_by_id("sc.location")
cut.send_keys(Keys.CONTROL,'x')

In [319]:
search_loc4 = driver.find_element_by_id("sc.location")
search_loc4.send_keys('Noida')

In [320]:
#going to search bar
search_bar = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search_bar.click()

In [321]:
time.sleep(3)
end_tab = driver.find_element_by_xpath('//button[@class="css-1abfq40 e8e8plt1"]')
end_tab.click()

In [322]:
search_job4 = driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
Company_name = []
for i in search_job4:
    Company_name.append(i.text)

['Bechtel',
 'Bechtel',
 'Ericsson',
 'Crowe',
 'NatWest Group',
 'Siemens Technology and Services Private Limited',
 'MobiKwik',
 'Lantern Digital Services',
 'Ally wiredsoft solutions (P) ltd',
 'Priority Vendor',
 'Biz2Credit Inc',
 'White Vectors',
 'Gauge Data Solutions',
 'Data Patterns',
 'Novo',
 'Techlive',
 'WinZO',
 'MasterCard',
 'WishFin',
 'Applicate IT Solutions Pvt. Ltd.',
 'xtLytics',
 'Innovacer',
 'Algoscale',
 'SearchUrCollege',
 'Salasar New Age Technologies',
 'Dürr Somac GmbH',
 'Barclays',
 'Gravity Advisors Pvt Ltd',
 'ADCI - Haryana',
 'Team Computers',
 'Dürr IT Services India',
 'Ank Aha']

In [323]:
job_age = driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
Job_Posted = []
for i in job_age:
    Job_Posted.append(i.text)

['12d',
 '1d',
 '16d',
 '9d',
 '1d',
 '22d',
 '25d',
 '3d',
 '2d',
 '9d',
 '18d',
 '3d',
 '9d',
 '25d',
 '7d',
 '15d',
 '24h',
 '15d',
 '20d',
 '4d',
 '24d',
 '15d',
 '9d',
 '9d',
 '23d',
 '24h',
 '2d',
 '24h',
 '23d',
 '25d',
 '24h',
 '9d']

In [324]:
job_r = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
Job_Ratings = []
for i in job_r:
    Job_Ratings.append(i.text)

In [327]:
Glassdoor_Posts = pd.DataFrame()
Glassdoor_Posts['Company'] = Company_name[:10]
Glassdoor_Posts['Job_Posted'] = Job_Posted[:10]
Glassdoor_Posts['Ratings'] = Job_Ratings[:10]

In [328]:
Glassdoor_Posts

                                           Company Job_Posted Ratings
0                                          Bechtel        12d     4.0
1                                          Bechtel         1d     4.0
2                                         Ericsson        16d     4.1
3                                            Crowe         9d     3.8
4                                    NatWest Group         1d     3.9
5  Siemens Technology and Services Private Limited        22d     4.1
6                                         MobiKwik        25d     4.0
7                         Lantern Digital Services         3d     3.5
8                 Ally wiredsoft solutions (P) ltd         2d     3.7
9                                  Priority Vendor         9d     3.9

_________________________________

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [365]:
import selenium
import pandas as pd
from selenium import webdriver

from selenium.webdriver.common.keys import Keys

In [554]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [555]:
url5 = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url5)

In [556]:
search_job5 = driver.find_element_by_id('KeywordSearch')
search_job5.send_keys('Data Scientist')

In [557]:
clear = driver.find_element_by_id("LocationSearch")
clear.send_keys(Keys.CONTROL,'a')

In [558]:
Cut = driver.find_element_by_id("LocationSearch")
Cut.send_keys(Keys.CONTROL,'x')

In [559]:
search_loc5 = driver.find_element_by_id('LocationSearch')
search_loc5.send_keys('Noida')

In [560]:
search5 = driver.find_element_by_id('HeroSearchButton')
search5.click()
time.sleep(5)

In [618]:
Glassdoor  = {}
Glassdoor['Min_Salary'] = []
Glassdoor['Max_Salary'] = []
Glassdoor['Company'] = []
Glassdoor['Average_Salary'] = []
Glassdoor['Ratings'] = []

In [619]:
#Scrapping minimum salary

s1 = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')
for i in range(0,len(s1),2):
    Glassdoor['Min_Salary'].append(s1[i].text.replace('\n',''))

In [620]:
Glassdoor['Min_Salary']

['₹6L',
 '₹3L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹4L',
 '₹2L',
 '₹8L',
 '₹6L',
 '₹8L',
 '₹10L',
 '₹4L',
 '₹8L',
 '₹12T',
 '₹4L',
 '₹8L',
 '₹9L']

In [631]:
len(Glassdoor['Min_Salary'])

20

In [621]:
#Scrapping maximum salary

s1 = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')
for i in range(1,len(s1),2):
    Glassdoor['Max_Salary'].append(s1[i].text.replace('\n',''))

In [622]:
Glassdoor['Max_Salary']

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹22L',
 '₹18L',
 '₹20L',
 '₹17L',
 '₹13L',
 '₹19L',
 '₹16L',
 '₹20L',
 '₹63T',
 '₹17L',
 '₹30L',
 '₹15L']

In [632]:
len(Glassdoor['Max_Salary'])

20

In [623]:
#Scrapping Company name
comp = driver.find_elements_by_xpath('//div[@class="col px-xsm"]//a')
for i in range(0,len(comp),2):
    Glassdoor['Company'].append(comp[i].text)

In [624]:
Glassdoor['Company']

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates',
 'Optum',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'R Systems',
 'CARS24.com']

In [625]:
len(Glassdoor['Company'])

20

In [626]:
#Scrapping Average Salary
AVG_sal = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
for i in AVG_sal:
    Glassdoor['Average_Salary'].append(i.text.replace('\n','').replace('/',''))

In [627]:
Glassdoor['Average_Salary']

['₹9,00,000 yr',
 '₹6,15,289 yr',
 '₹11,63,336 yr',
 '₹12,18,244 yr',
 '₹7,39,238 yr',
 '₹13,00,000 yr',
 '₹8,63,750 yr',
 '₹11,10,000 yr',
 '₹13,28,697 yr',
 '₹11,42,356 yr',
 '₹13,20,960 yr',
 '₹12,09,040 yr',
 '₹10,09,021 yr',
 '₹12,58,227 yr',
 '₹9,92,632 yr',
 '₹10,55,478 yr',
 '₹34,157 mo',
 '₹10,54,402 yr',
 '₹18,40,134 yr',
 '₹10,00,000 yr']

In [628]:
len(Glassdoor['Average_Salary'] )

20

In [629]:
#Scrapping company Ratings
Ratings = driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in Ratings:
    Glassdoor['Ratings'].append(i.text)

In [630]:
Glassdoor['Ratings']

['3.9',
 '3.9',
 '4',
 '3.9',
 '4',
 '3.7',
 '4.2',
 '3.6',
 '3.9',
 '4',
 '3.6',
 '3.8',
 '3.8',
 '3.2',
 '4',
 '4.1',
 '3.7',
 '3.6',
 '3.5',
 '4.1']

In [633]:
len(Glassdoor['Ratings'])

20

In [634]:
Glassdoor['Min_Salary'] = Glassdoor['Min_Salary'][:10]
Glassdoor['Max_Salary'] = Glassdoor['Max_Salary'][:10]
Glassdoor['Company'] = Glassdoor['Company'][:10]
Glassdoor['Average_Salary'] = Glassdoor['Average_Salary'][:10]
Glassdoor['Ratings'] = Glassdoor['Ratings'][:10]

In [635]:
Glassdoor_Job = pd.DataFrame(Glassdoor)

In [636]:
Glassdoor_Job

  Min_Salary Max_Salary                    Company Average_Salary Ratings
0        ₹6L       ₹27L                        IBM   ₹9,00,000 yr     3.9
1        ₹3L       ₹13L  Tata Consultancy Services   ₹6,15,289 yr     3.9
2        ₹6L       ₹22L                  Accenture  ₹11,63,336 yr       4
3        ₹5L       ₹1Cr                  Delhivery  ₹12,18,244 yr     3.9
4        ₹4L       ₹16L         Ericsson-Worldwide   ₹7,39,238 yr       4
5        ₹8L       ₹15L         UnitedHealth Group  ₹13,00,000 yr     3.7
6        ₹5L       ₹15L         Valiance Solutions   ₹8,63,750 yr     4.2
7        ₹6L       ₹15L                EXL Service  ₹11,10,000 yr     3.6
8        ₹4L       ₹22L     Optum Global Solutions  ₹13,28,697 yr     3.9
9        ₹2L       ₹18L              ZS Associates  ₹11,42,356 yr       4

________________________________________________________________________

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com

In [447]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [448]:
url6 = 'https://www.flipkart.com/'
driver.get(url6)
    
close = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close.click()

search_product6 = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product6.send_keys('sunglasses')

search_btn6 = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn6.click()

In [449]:
time.sleep(3)
desc6 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
product_description1 = []
for i in range(0,len(desc6),2):
    product_description1.append(desc6[i].text)

In [455]:
brand6 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
product_brand1 = []
for i in brand6:
    product_brand1.append(i.text)

time.sleep(3)
desc6 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
product_description1 = []
for i in range(0,len(desc6),2):
    product_description1.append(desc6[i].text)

price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_price1 = []
for i in price:
    product_price1.append(i.text)

discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
product_discount1 = []
for i in discount:
     product_discount1.append(i.text)

In [462]:
# going on next page
next_page1 = driver.find_element_by_xpath('//a[@class="_1LKTO3"]//span')
next_page1.click()

len(product_discount1)

40

In [463]:
brand6 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
product_brand2 = []
for i in brand6:
    product_brand2.append(i.text)

desc6 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_description2 = []
for i in range(0,len(desc6)):
    product_description2.append(desc6[i].text)
product_description2 = product_description2[:40]

price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_price2 = []
for i in price:
    product_price2.append(i.text)

discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
product_discount2 = []
for i in discount:
     product_discount2.append(i.text)

In [464]:
len(product_description2)

40

In [465]:
next_page2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page2.click()

In [466]:
brand6 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
product_brand3 = []
for i in range(0,20):
    product_brand3.append(brand6[i].text)

desc6 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_description3 = []
for i in range(0,20):
    product_description3.append(desc6[i].text)

price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_price3 = []
for i in range(0,20):
    product_price3.append(price[i].text)

discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
product_discount3 = []
for i in range(0,20):
     product_discount3.append(discount[i].text)

In [467]:
Flipkart_Sunglasses = pd.DataFrame()

Flipkart_Sunglasses['Brand'] = product_brand1 + product_brand2 + product_brand3
Flipkart_Sunglasses['Description'] = product_description1 + product_description2 + product_description3
Flipkart_Sunglasses['Price'] = product_price1 + product_price2 + product_price3
Flipkart_Sunglasses['Discount'] = product_discount1 + product_discount2 + product_discount3
    
Flipkart_Sunglasses

,Brand,Description,Price,Discount
0,NuVew,UV Protection Aviator Sunglasses (58),₹215,₹570 off
1,elegante,UV Protection Round Sunglasses (Free Size),₹199,₹800 off
2,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹210,₹1089 off
3,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,₹1550 off
4,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,₹1679 off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹539,₹260 off
96,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹235,₹740 off
97,Crackers,UV Protection Aviator Sunglasses (55),₹170,₹829 off
98,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹249,₹1050 off
99,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹227,₹1272 off

_________________________________________________________

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
Link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [468]:
driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [469]:
url7 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url7)

In [470]:
all_rev = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]//span')
all_rev.click()

In [471]:
Product = {}

Product['Rating'] = []
Product['Summary'] = []
Product['Full_Review'] = []

Product

{'Rating': [], 'Summary': [], 'Full_Review': []}

In [476]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [477]:
r1 = []
for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [478]:
Product['Rating']

['5', '5', '5', '5', '5', '5', '4', '5', '5', '5']

In [479]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

10 10 10

In [480]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next.click()

In [481]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [482]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [483]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

20 20 20

In [484]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [485]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [486]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [487]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [488]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [489]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [490]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

40 40 40

In [491]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [492]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [493]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [494]:
time.sleep(3)
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [495]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [496]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [497]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [498]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [499]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [500]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

70 70 70

In [501]:
time.sleep(2)
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [502]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [503]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [504]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

80 80 80

In [505]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [508]:
time.sleep(2)
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [509]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [510]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

90 90 90

In [511]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [514]:
time.sleep(2)
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [515]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [516]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

100 100 100

In [517]:
Product = pd.DataFrame(Product)

In [518]:
Product

,Rating,Summary,Full_Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Simply awesome,Really satisfied with the Product I received.....
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
96,5,Brilliant,A wort full value for money decision it’s . Si...
97,4,Wonderful,I genuinely liked it. One of the best mobile p...
98,4,Nice product,If you are looking for a premium phone under 5...
99,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."

_____________________________________________________

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

Scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [69]:
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import time

In [81]:
    driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")
    url8 = 'https://www.flipkart.com/'

    driver.get(url8)    
    close = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
    close.click()

    search_product8 = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
    search_product8.send_keys('sneakers')

    search_btn8 = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
    search_btn8.click()
    
    time.sleep(3)
    for j in range(100):
        brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        Brand1 = []
        for i in brand8:
            Brand1.append(i.text)

        desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
        description1 = []
        for i in range(0,len(desc8),2):
            description1.append(desc8[i].text)
        description1

        price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
        price1 = []
        for i in price:
            price1.append(i.text)
        price1 = price1[:40]

        dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
        discount1 = []
        for i in dis:
             discount1.append(i.text)
        break
    
    time.sleep(3)
    # going on next page
    next_page1 = driver.find_element_by_xpath('//a[@class="ge-49M"]')
    next_page1.click()
    time.sleep(3)
    for j in range(100):
        brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        Brand2 = []
        for i in brand8:
            Brand2.append(i.text)

        desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
        description2 = []
        for i in range(0,len(desc8),2):
            description2.append(desc8[i].text)

        price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
        price2 = []
        for i in price:
            price2.append(i.text)
        price2 = price2[:40]

        dis = driver.find_elements_by_xpath('//div[@class="_25b18c"]//span')
        discount2 = []
        for i in dis:
             discount2.append(i.text)
        discount2 = discount2[:40]
        break
    
    time.sleep(3)                
    next_page2 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
    next_page2.click()
    time.sleep(3)
    for j in range(100):
        brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        Brand3 = []
        for i in range(0,20):
            Brand3.append(brand8[i].text)

        desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
        description3 = []
        for i in range(0,len(desc8),2):
            description3.append(desc8[i].text)
        description3 = description3[:20]

        price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
        price3 = []
        for i in price:
            price3.append(i.text)
        price3 = price3[:20]

        dis = driver.find_elements_by_xpath('//div[@class="_25b18c"]//span')
        discount3 = []
        for i in dis:
             discount3.append(i.text)
        discount3 = discount3[:20]
        break

In [84]:
    Flipkart_Sneakers = pd.DataFrame()

    Flipkart_Sneakers['Brand'] = Brand1 + Brand2 + Brand3
    Flipkart_Sneakers['Description'] = description1 + description2 + description3
    Flipkart_Sneakers['Price'] = price1 + price2 + price3
    Flipkart_Sneakers['Discount'] = discount1 + discount2 + discount3
    
    Flipkart_Sneakers

,Brand,Description,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,403",62% off
1,ROCKFIELD,Sneakers For Men,₹474,52% off
2,Labbin,Sneakers For Men,₹499,50% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
...,...,...,...,...
95,Deals4you,Sneakers For Men,₹359,64% off
96,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,81% off
97,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹499,50% off
98,Bonexy,Sneakers For Men,₹474,52% off
99,Next INN,Sneakers For Men,₹599,40% off

#### Q9: Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe 

link - https://www.myntra.com/shoes

In [657]:
    driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")
    url8 = 'https://www.myntra.com/shoes'
    driver.get(url8)
    
    time.sleep(3)
    price_filt = driver.find_element_by_xpath('//ul[@class="price-list"]//li[2]')
    price_filt.click()

In [658]:
    time.sleep(3)
    color_filt = driver.find_element_by_xpath('//li[@class="colour-listItem"]//span[2]')
    color_filt.click()

In [659]:
    time.sleep(3)
    price_filt = driver.find_element_by_xpath('//ul[@class="price-list"]//li[2]')
    price_filt.click()

In [660]:
    Shoe_Brand = {}
    Shoe_Brand['Brand'] = []
    Shoe_Brand['Short_Description'] = []
    Shoe_Brand['Price'] = []

In [661]:
    
    
    time.sleep(3)
    brd1 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    for i in brd1:
        Shoe_Brand['Brand'].append(i.text)
    len(Shoe_Brand['Brand'])
    
    time.sleep(3)
    brd_d1 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
    for i in brd_d1:
        Shoe_Brand['Short_Description'].append(i.text)
    len(Shoe_Brand['Short_Description'])

50

In [662]:
len(Shoe_Brand['Brand'])

50

In [663]:
    time.sleep(3)
    brd_p1 = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    
    p = []
    
    for i in brd_p1:
        p.append(i.text.replace('Rs.',' '))
    for j in range(0,len(p)):
        Shoe_Brand['Price'].append(p[j][:7])

In [664]:
Shoe_Brand['Price']

['  12316',
 '  8236 ',
 '  12316',
 '  9999',
 '  7195 ',
 '  8999',
 '  7375 ',
 '  7499 ',
 '  9999',
 '  10999',
 '  11999',
 '  7349 ',
 '  10999',
 '  7499 ',
 '  6999',
 '  8999',
 '  6999',
 '  7699 ',
 '  7375 ',
 '  9999',
 '  9659 ',
 '  9099 ',
 '  6999',
 '  6990',
 '  8999',
 '  6999',
 '  8999',
 '  6999 ',
 '  11249',
 '  7999',
 '  7857 ',
 '  7499',
 '  6999 ',
 '  6990',
 '  7999',
 '  9999',
 '  9999',
 '  6899 ',
 '  9999',
 '  6999 ',
 '  6990',
 '  6999',
 '  9990',
 '  7006 ',
 '  6999',
 '  6990',
 '  7495 ',
 '  6990',
 '  7499',
 '  9371 ']

In [665]:
len(Shoe_Brand['Price'])

50

In [666]:
Next_Page = driver.find_element_by_xpath('//li[@class="pagination-next"]')
Next_Page.click()

In [667]:
    
    time.sleep(3)
    brd2 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    for i in brd2:
        Shoe_Brand['Brand'].append(i.text)
    len(Shoe_Brand['Brand'])
    
    time.sleep(3)
    brd_d2 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
    for i in brd_d2:
        Shoe_Brand['Short_Description'].append(i.text)
    len(Shoe_Brand['Short_Description'])

100

In [668]:
    time.sleep(3)
    brd_p2 = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    
    p2 = []
    
    for i in brd_p2:
        p2.append(i.text.replace('Rs.',' '))
    for j in range(0,len(p2)):
        Shoe_Brand['Price'].append(p2[j][:7])

In [670]:
print(len(Shoe_Brand['Brand']),len(Shoe_Brand['Short_Description']),len(Shoe_Brand['Price']))

100 100 100

In [671]:
    Shoe_Brand = pd.DataFrame(Shoe_Brand)

In [672]:
    Shoe_Brand

                   Brand                    Short_Description    Price
0                   Nike       Unisex LEBRON XVIII Basketball    12316
1                   Nike           Men AIR ZOOM Running Shoes    8236
2                   Nike        LEBRON XVIII Basketball Shoes    12316
3                   ALDO                         Men Sneakers     9999
4                   Nike              Women FREE RN 5.0 Shoes    7195
..                   ...                                  ...      ...
95             Cole Haan                       Women Sneakers    12999
96                  Geox          Women Solid Leather Loafers     7999
97                  Geox             Men Leather Formal Monks    7999
98  Heel & Buckle London           Men Leather Formal Oxfords    7693
99                  Geox  Women Woven Design Slip-On Sneakers    11990

[100 rows x 3 columns]

_________________________________

### Amazon Webscrapping

In [72]:
    driver = webdriver.Chrome(r"C:\Users\91977\Downloads\chromedriver_win32\chromedriver.exe")

In [73]:
    url9 = 'https://www.amazon.in/'
    driver.get(url9)
    
    search_laptop = driver.find_element_by_id('twotabsearchtextbox')
    search_laptop.send_keys('Laptop')

    search_btn10 = driver.find_element_by_id('nav-search-submit-button')
    search_btn10.click()

In [74]:
    filter1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/span')
    filter1.click()

In [75]:
    
    filter2 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')
    filter2.click()

In [76]:
    Laptop = {}
    Laptop['Title'] = []
    Laptop['Ratings'] = []
    Laptop['Price'] = []

In [77]:
    title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in title:
        Laptop['Title'].append(i.text)
    Laptop['Title'] = Laptop['Title'][:10]

In [78]:
    Laptop['Title']

['MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" (39.62cms) FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 'Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'ASUS ROG Zephyrus S17 (2020), 17.3" FHD 300Hz/3ms, Intel Core i7-10750H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics Gaming Laptop (32GB/1TB SSD/Office 2019/Windows 10/Black/2.6 Kg), GX701LXS-HG002TS']

In [79]:
    laptop_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in laptop_price:
        Laptop['Price'].append(i.text)
    Laptop['Price'] = Laptop['Price'][:10]

In [80]:
    Laptop['Price']

['2,71,823',
 '84,990',
 '91,390',
 '96,555',
 '59,999',
 '69,990',
 '84,990',
 '78,993',
 '49,999',
 '1,65,990']

In [81]:
len(Laptop['Price'])

10

In [82]:
    Image_URL = []
    Imagelink = driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
    for i in Imagelink:
        Image_URL.append(i.get_attribute('href'))

In [83]:
    Image_URL

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A014119429EI5XB7GMHC7&url=%2FMSI-GS66-Stealth-i7-10875H-10SFS-488IN%2Fdp%2FB08KG3CHVR%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625991160%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1625991160&id=6669019823979390&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Lenovo-Ideapad-Graphics-Graphite-82FG0117IN/dp/B092MV9ZF6/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B09752NVNF/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/ASUS-Zephyrus-i7-10750H-RTX-2080-GX701LXS-HG002TS/dp/B08PFD2Z9M/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/Dell-15-6-inch-i7-10750H-NVIDIA1650-D560260WIN9BE/dp/B08H9PTSYR/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A02653902UKZ2EJPLDFRL&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_14_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625991160%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-14-spons%26psc%3D1&qualifier=1625991160&id=6669019823979390&widgetName=sp_mtf',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/ASUS-Zephyrus-i7-10875H-RTX-2080-GX550LXS-HC145TS/dp/B08GQZZQY3/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-250Nits-Graphics-Phantom-82AU00PNIN/dp/B097TY6PTN/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/ASUS-TUF-F15-i7-11370H-FX516PE-HN088TS/dp/B094RDLV5P/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Lenovo-ThinkPad-Graphics-Aluminium-20TDS0G200/dp/B095SPWBKF/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Inspiron-5593-15-6-inch-i7-1065G7-Graphics/dp/B07ZG4S91Z/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Lenovo-Touchscreen-Graphics-Fingerprint-82A300BEIN/dp/B094XHDWWF/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974XBX64/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Lenovo-IdeaPad-15-6-inch-Windows-81Y400VAIN/dp/B08PV48PYW/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/ASUS-i7-10750H-Graphics-Windows-G512LU-HN263TS/dp/B08CR6C9LJ/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1625991160&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [84]:
from selenium.common.exceptions import NoSuchElementException

In [85]:
Laptop['Ratings'] = []

In [86]:

for i in Image_URL:
    try:
        driver.get(i)
        R = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        R1=[]
        R1.append(R.text.replace('o',' '))
        for k in range(0,len(R1)):
            Laptop['Ratings'].append(R1[k][:3])
    
    except NoSuchElementException:
        N = ['No Ratings']
        for i in N:
            Laptop['Ratings'].append(i)
        pass

In [87]:
Laptop['Ratings'] = Laptop['Ratings'][:10]

In [88]:
Laptop['Ratings']

['2  ', '4.4', '4.6', '4.2', '4.4', '4.3', '4.5', '4  ', '1  ', '3.6']

In [89]:
Amazon_Laptop = pd.DataFrame(Laptop)

In [90]:
Amazon_Laptop

                                               Title Ratings     Price
0  MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 1...     2    2,71,823
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...     4.4    84,990
2  Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...     4.6    91,390
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...     4.2    96,555
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...     4.4    59,999
5  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...     4.3    69,990
6  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...     4.5    84,990
7  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...     4      78,993
8  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...     1      49,999
9  ASUS ROG Zephyrus S17 (2020), 17.3" FHD 300Hz/...     3.6  1,65,990

__________________________________